html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  font-size: 1.125rem;
  background-color: #fff;
  color: #000;
  border-style: solid;
  text-decoration: none;
  border-radius: 8px;
  padding: 0.4em 0.75em 0.03em;
}

img {
  width: 100%;
}

div {
  max-width: 25em;
  display: inline-block;
}
